<mat-toolbar style="margin-bottom: 16px">
  <span class="fill-remaining-space"></span>
  <span>Files Container</span>
  <span class="fill-remaining-space"></span>
</mat-toolbar>
<button mat-raised-button style="margin:8px" (click)="onCreateFiles()">
  <mat-icon>
    <i class="material-icons">
      add_circle_outline
    </i>
  </mat-icon>
  <span>Add Files</span>
</button>
<mat-grid-list [cols]="breakpoint" rowHeight="600px" (window:resize)="onResize($event)">
  <div *ngFor = "let item of fileShow">
    <mat-grid-tile>
      <mat-card class="files-card"  style="position : relative !important">
        <mat-card-header>
          <mat-card-title color="primary">{{item.fileName}}</mat-card-title>
          <span class="fill-remaining-space"></span>
          <div>
            <button mat-icon-button (click) = "onEdit(item)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn" (click) = "onDelete(item.$key)"><mat-icon>delete_outline</mat-icon>></button>
          </div>
        </mat-card-header>
        <h4>Type : {{item.fileType}}</h4>
        <mat-card-content>
          <p>
            -{{item.fileDes}}
          </p>
          <p>
            <app-books [fileItem]="item.$key"></app-books>
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </div>
</mat-grid-list>