<div class="center-card">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="login-container">
        <input type="hidden">
        <mat-form-field>
          <input matInput placeholder="User Name" #userName required>
          <mat-error>This field is mandatory</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" #userPassword required>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click) = "logIn(userName.value, userPassword.value)">Log In</button>
      <button mat-raised-button color="warn" (click) = "signUp()">Sign Up</button>
    </mat-card-actions>
  </mat-card>
</div>