<mat-toolbar color="primary">
  <span>Sign Up</span>
</mat-toolbar>
<div style=" height:60%; width: 100%; position: relative;">
  <form [formGroup]="service.formUser" class="normal-form">
    <div class="controls-container">
      <mat-form-field>
        <input formControlName="userName" matInput placeholder="User Name">
        <mat-error>This field is mandatory</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" formControlName="pass" matInput placeholder="Password">
        <mat-error>This field is mandatory</mat-error>
      </mat-form-field>
      <div class="button_row">
        <button mat-raised-button color="primary" type="submit" (click)="get()" [disabled]="service.formUser.invalid">Sign Up</button>
      </div>
    </div>
  </form>
</div>